@media (max-width:600px){
    .circle{
        display: none;
    }

    
    nav a,nav h3{
        font-size: 15px;
    }

    .heading h1{
        
        font-size: 13vw;
        line-height: 95%;
        letter-spacing: .4vw;
        font-weight: 1200;
        opacity: .7;
        transform: translateY(0);
        margin-left: 27px;
        width: fit-content;
    }
    
    .heading div h5{
        transform: translateY(0);
        margin-top: 12px;
        font-size: 3vw;
        opacity: .9;
    }

    .chhotiheadings{
        margin-top: 20vh;
        margin-bottom: 30vh;
    }
    .chhotiheadings h5{
        transform: translateY(0);
        text-transform: uppercase;
        font-size: 3.5vw;
        opacity: .9;
    }

    .chhotiheadings1 .no3{
        display: none;
    }
    .chhotiheadings1 h5{
        font-size: 3vw;
    }
    .chhotiheadings1 i{
        font-size: 3.5vw;
    }

    #works{
        margin: 0 3vw;
    }

    #works .box{
        height: 22vw;
        margin: 0 0;
        width: 100%;

        overflow-x: hidden;
    }

    #works .sp1{
        font-size: 9vw;
    }
    #works .sp2{
        font-size: 3vw;
    }

    .view-work{
        margin-top: 4vh;
        margin-bottom: 11vh;
    }
     .btn{
        font-size: 4vw;
        border-width: 1px;
        padding: 7px 15px;
    }

    .scroller{
        height: 15vh;
    }
    .scroller .scroll{
        height: 70%;
    }

    .about-me>div{
        gap: 5vw;
        display: flex;
        flex-direction: column;
        
        margin-right: 3vw;
    
    }
    .about-me .image{
        width: 60vw;
        height: 60vw;
        margin: auto;
        margin-bottom: 5vh;
    }
    .about-me .content{
        width: 100%;
    }
    .about-me .content h4,.about-me .content p{
        font-size: 4vw;
    }

    .about-me .btn{
        margin-top: 3vh;
    }

    .subscribe p{
        font-size: 3vw;
    }
    .subscribe span{
        font-size: 4vw;
        font-weight: 600;
    }
    .subscribe{
        margin-bottom: 14vh;
    }

    footer{
        flex-direction: column-reverse;
    }
    .foot1,.foot2{
        font-size: 3vw;
        justify-content: space-between;
        width: 100%;
    }

    .foot2{
        border-bottom: 1px solid white;
    }
}